<template>
  <div>
    <div class="thrid-party-auth">
      <v-btn block class="red darken-3" flat><v-icon left>mdi-google</v-icon>Login with Google</v-btn>
      <v-btn block class="light-blue darken-4" flat><v-icon left>mdi-facebook</v-icon>Login with Facebook</v-btn>
      <v-btn block class="light-blue darken-1" flat><v-icon left>mdi-twitter</v-icon>Login with Twitter</v-btn>
    </div>
    <v-divider></v-divider>
    <div class="text-xs-center cyan darken-1" id="subheader"><span>Login with Email & Password</span></div>
    <v-card-text>
      <v-text-field
          label="Email"
          prepend-icon="mdi-mail-ru"
          name="Email"
          single-line
          v-model="email"
          v-validate="'required|email'"
          :error-messages="errors.has('Email')? errors.first('Email') : []"
        ></v-text-field>
        <v-text-field
          label="Password"
          prepend-icon="mdi-key"
          type="password"
          name="Password"
          single-line
          v-model="password"
          v-validate="'required'"
          :error-messages="errors.has('Password')? errors.first('Password') : []"
        ></v-text-field>
        <v-checkbox label="Remember Me" v-model="remember"></v-checkbox>
        <div id="action-button">
          <v-btn class="green lighten-1" id="submit-button" flat block @click="submit">Login</v-btn>
        </div>
        <v-card-text id="forgot-password">
          <router-link to="/app">Forgot your password?</router-link>
        </v-card-text>
    </v-card-text>
  </div>
</template>

<script>
export default {
  data () {
    return {
      email: '',
      password: '',
      remember: false
    }
  },
  methods: {
    submit () {
      this.$http.post('/user/auth',
        {
          email: this.email,
          password: this.password
        }
      ).then((res) => {
        // Manage token
        const token = res.data.token
        localStorage.setItem('token', token)
        if (window.history) {
          this.$router.go(-1)
        }
        this.$router.push('App')
        this.$store.commit('alertSuccessMessage', res.statusText)
      }).catch((error) => {
        this.$store.commit('alertFailMessage', error.response.statusText)
      })
    }
  }
}
</script>
