<template>
  <div>
    <div class="thrid-party-auth">
      <v-btn block class="red darken-3" flat><v-icon left>mdi-google</v-icon>Register with Google</v-btn>
      <v-btn block class="light-blue darken-4" flat><v-icon left>mdi-facebook</v-icon>Register with Facebook</v-btn>
      <v-btn block class="light-blue darken-1" flat><v-icon left>mdi-twitter</v-icon>Register with Twitter</v-btn>
    </div>
    <v-divider></v-divider>
    <div class="text-xs-center cyan darken-1" id="subheader"><span>Register with Email & Password</span></div>
    <v-card-text>
      <v-text-field
        id="givenName"
        label="First Name"
        prepend-icon="mdi-account-card-details"
        single-line
        name="First Name"
        v-model="givenName"
        v-validate="'required:alpha_spaces'"
        :error-messages="errors.has('First Name')? errors.first('First Name') : []"
      ></v-text-field>
      <v-text-field
        label="Last Name"
        prepend-icon="mdi-account-card-details"
        single-line
        name="Last Name"
        v-model="familyName"
        v-validate="'required:alpha_spaces'"
        :error-messages="errors.has('Last Name')? errors.first('Last Name') : []"
      ></v-text-field>
      <v-text-field
        label="Email"
        prepend-icon="mdi-mail-ru"
        single-line
        name="Email"
        v-model="email"
        v-validate="'required|email'"
        :error-messages="errors.has('Email')? errors.first('Email') : []"        
      ></v-text-field>
      <v-text-field
        label="Password"
        prepend-icon="mdi-key"
        type="password"
        single-line
        name="Password"
        v-model="password"
        id="password"
        v-validate="'required|min:8'"
        :error-messages="errors.has('Password')? errors.first('Password') : []"      
      ></v-text-field>
      <v-text-field
        label="Confirm Password"
        prepend-icon="mdi-key"
        type="password"
        single-line
        name="Confirm Password"
        v-model="confirmPassword"
        v-validate="'required|confirmed:Password'"
        :error-messages="errors.has('Confirm Password')? errors.first('Confirm Password') : []"      
      ></v-text-field>
      <v-checkbox label="I agree to Terms and Conditions" v-model="termsAgreement"></v-checkbox>
      <div id="action-button">
        <v-btn class="green lighten-1" id="submit-button" flat block @click="submit" :disabled="enableRegister">Register</v-btn>
      </div>
    </v-card-text>
  </div>
</template>

<script>
import { mapMutations } from 'vuex'

export default {
  data () {
    return {
      formErrors: true,
      termsAgreement: false,
      disableRegister: true,
      givenName: '',
      familyName: '',
      email: '',
      password: '',
      confirmPassword: ''
    }
  },
  methods: {
    submit () {
      this.$http({
        method: 'post',
        url: '/user/registration',
        data: {
          name: {
            givenName: this.givenName,
            familyName: this.familyName
          },
          email: this.email,
          password: this.password
        }
      }).then((res) => {
        this.accessToken(res.data.token)
        // this.user(res.data.user)
        // this.family(res.data.family)
        this.$router.replace('Family')
        this.alertSuccessMessage(res.statusText)
      }).catch((error) => {
        this.alertFailMessage(error.response.data.error)
      })
    },
    ...mapMutations([
      'accessToken',
      'user',
      'family',
      'alertSuccessMessage',
      'alertFailMessage'
    ])
  },
  computed: {
    enableRegister () {
      let hasErrors = this.$validator.errors
      this.formErrors = hasErrors.any()
      if (!this.formErrors && this.termsAgreement) {
        this.disableRegister = false
      } else {
        this.disableRegister = true
      }
      return this.disableRegister
    }
  }
}
</script>

