<template>
  <div :class="{ 'form-container': addFormContainer }">
    <login></login>
  </div>
</template>

<script>
import login from './Partials/AuthenticationForm'

export default {
  data () {
    return {
      formContainer: true
    }
  },
  components: {
    login
  },
  computed: {
    addFormContainer () {
      if (this.clientWidth < 500) {
        this.formContainer = false
      } else {
        this.formContainer = true
      }
      return this.formContainer
    }
  }
}
</script>
