<template>
       
  <v-card>
    <v-toolbar>
      <v-toolbar-title>Initialize your account</v-toolbar-title>
    </v-toolbar>
    <v-container>
      <v-layout row justify-space-around class="form-wrapper">
        <v-flex md10>
          <v-layout row justify-space-around id="family-name">
            <v-flex xs5>
              <label for="familyName">Family Name: </label>
              <input id="familyName" type="text" class="has-value" v-model="memberList[0].lastName" @blur="updateFamilyName">
            </v-flex>
            <!-- <v-card-text contenteditable="true">Samuel</v-card-text> -->
          </v-layout>
          <v-divider></v-divider>
          <v-card>
          <v-toolbar>
            <v-toolbar-title>Add Family Members</v-toolbar-title>
          </v-toolbar>
            <v-container>
              <v-layout row>
                <v-flex>

                    <v-layout row wrap class="fh-form-control">
                        <v-flex xs12 md3>
                          <input type="text" class="has-value" v-model="memberList[0].firstName"></input>
                        </v-flex>
                        <v-flex xs12 md3>
                          <input type="text" class="has-value" v-model="memberList[0].lastName">
                        </v-flex>
                        <v-flex xs12 md3>
                          <input type="text" class="has-value" v-model="memberList[0].email">
                        </v-flex>
                        <v-flex xs6 md1>
                          <v-avatar>
                            <img src="~@/assets/no-profile-picture.png" alt="no-pic">
                          </v-avatar>
                        </v-flex>
                        <v-flex xs6 md2>
                          <v-btn :loading="false" block>Update</v-btn>
                        </v-flex>
                    </v-layout>

                  <v-divider></v-divider>
                  <v-layout row wrap class="fh-form-control">
                    <v-flex xs12 md3>
                      <input type="text" class="block" v-model="firstName" placeholder="First Name">
                    </v-flex>
                    <v-flex xs12 md3>
                      <input type="text" class="block" v-model="lastName" placeholder="Last Name">
                    </v-flex>
                    <v-flex xs12 md3>
                      <input type="text" class="block" v-model="email" placeholder="Email Address">
                    </v-flex>
                    <v-flex xs6 md1>
                      <v-avatar>
                        <img src="~@/assets/no-profile-picture.png" alt="no-pic">
                      </v-avatar>
                    </v-flex>
                    <v-flex xs6 md2>
                      <v-btn :loading="false" block>Add</v-btn>
                    </v-flex>
                  </v-layout>                   
                </v-flex>
              </v-layout>
            </v-container>
          </v-card>
        </v-flex>
      </v-layout>
      <v-layout row justify-space-around>
        <v-flex xs2>
          <v-btn light >Continue</v-btn>
        </v-flex>
      </v-layout>
    </v-container>
  </v-card>

</template>

<script>
import { mapGetters, mapMutations } from 'vuex'
export default {
  data () {
    return {
      memberList: [{
        firstName: 'Samuel',
        lastName: 'Harris',
        email: 'samuel.harris@gmail.com'
      }],
      firstName: '',
      lastName: '',
      email: ''
    }
  },
  methods: {
    ...mapGetters([
      'user',
      'family'
    ]),
    updateFamilyName () {
      this.$http.patch(`/family/${this.family.id}`, {family: {name: this.family.name}}).then((res) => {
        this.alertFailMessage(res.statusText)
      }).catch((error) => {
        this.alertFailMessage(error.response.statusText)
      })
    }
  },
  computed: {
    ...mapMutations([
      'user',
      'family',
      'alertSuccessMessage',
      'alertFailMessage'
    ])
  }
}
</script>

<style lang="stylus" scoped>
  @import '~@/assets/stylus/main'
  
  // [contenteditable=true]
  //   border: solid 1px $teal.darken-2
  //   font-size: 16px
  //   padding: 10px
  //   color: $grey.darken-1

  // [contenteditable=true]:empty:before
  //   content: attr(placeholder)
  //   color: $grey.lighten-2
    
  // [contenteditable=true]:focus
  //   border: 1px solid $teal.lighten-3
  //   outline: none
  //   color: $grey.darken-3
  //   box-shadow:inset 0 1px 5px rgba(0,0,0,0.2)

  .form-wrapper
    margin: 50px 0

  .divider
    margin: 20px 0

  #family-name
    label
      display: block
      width: 100%
      text-align: center
      font-weight: bold
    input
      width: 100%
      font-size: 3rem
      text-align: center
    .has-value
      border: 1px solid #fff
      color: $green.base
      &::after
        content: " - edit"
      &:focus
        outline: none
        border: 1px solid $orange.base
        color: $grey.darken-3

  .fh-form-control
    .has-value
      border: 1px solid #fff
      color: $green.base
      &::after
        content: " - edit"
      &:focus
        outline: none
        border: 1px solid $orange.base
        color: $grey.darken-3
    input
      display inline-block
      border: 1px solid
      height: 3rem
      width: 100%
      padding-left: 10px
      margin-bottom: 10px
    label
      line-height: 3rem
      display: inline-block
      vertical-align: center
      text-align: right
      clear: both
      float: left
      margin-right: 15px
      font-weight: bold
</style>
