<template>
  <div>
    <v-toolbar>
      <v-toolbar-title>Finehouse</v-toolbar-title>
      <!-- <v-spacer></v-spacer>
      <v-toolbar-items class="hidden-sm-and-down">
        <v-btn flat>Go to App</v-btn>
      </v-toolbar-items> -->
    </v-toolbar>
    <v-container>
      <v-layout row wrap>
        <v-flex xs12>
          <v-card>
            <router-view></router-view>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>  
  </div>
</template>
