<template>
  <div :class="{ 'form-container': addFormContainer }">
    <register></register>
  </div>
</template>

<script>
import register from './Partials/RegistrationForm'

export default {
  data () {
    return {
      formContainer: true
    }
  },
  components: {
    register
  },
  computed: {
    addFormContainer () {
      if (this.clientWidth < 500) {
        this.formContainer = false
      } else {
        this.formContainer = true
      }
      return this.formContainer
    }
  }
}
</script>

<style lang="stylus" scoped>
</style>
