<template>
  <div>
    <v-toolbar>
      <v-toolbar-title>Title</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-side-icon class="hidden-md-and-up"></v-toolbar-side-icon>
      <v-toolbar-items class="hidden-sm-and-down">
        <v-btn flat>Link One</v-btn>
        <v-btn flat>Link Two</v-btn>
        <v-btn flat>Link Three</v-btn>
      </v-toolbar-items>
    </v-toolbar>
    <v-container>
      <v-flex row wrap>
        <v-flex xs3>
          <v-card>
            <v-list>
              <v-list-tile>
                <v-list-tile-title>Family</v-list-tile-title>
              </v-list-tile>
            </v-list>
          </v-card>
        </v-flex>
        <v-flex xs9>
          <v-card>
            <router-view></router-view>
          </v-card>
        </v-flex>
      </v-flex>
    </v-container>  
  </div>
</template>
