<template>
  <div>
    <sidebar></sidebar>
    <navbar></navbar>
    <main>
      <div class="container fluid">
        <router-view></router-view>
      </div>
    </main>
    
  
  </div>

</template>

<script>
import Navbar from './Shared/Navbar'
import Sidebar from './Shared/Sidebar'

export default {
  components: {
    navbar: Navbar,
    sidebar: Sidebar
  }
}
</script>

