<template>

  <v-layout row wrap>
    
    <v-flex xs12 sm7 md8 lg9>
      <v-card class="blue lighten-1">
        <v-container fluid>
          <v-layout class="chore-plan" fill-height>
            <!-- <table>
              <tr>
                <th>Name</th>
                <th>Day</th>
                <th>Day</th>
                <th>Day</th>
                <th>Day</th>
                <th>Day</th>
                <th>Day</th>
                <th>Day</th>
              </tr>
              <tr>
                <td>Name</td>
                <td>Day</td>
                <td>Day</td>
                <td>Day</td>
                <td>Day</td>
                <td>Day</td>
                <td>Day</td>
                <td>Day</td>
              </tr>
            </table> -->
            <table>
              <tr >
                <th></th>
                <div :v-for="member in familyMembers">
                  <th>{{ member.name }}</th>
                </div>
              </tr>
              <tr>
                <div :v-for="day in days">
                  <td>{{ days[day] }}</td>

                  <div :v-for="member in familyMembers">
                    <div :v-for="chore in chores">
                      <td :id="`${member.id}-${days[day]}`">{{ member.chores[chore].days[day] }}</td>
                    </div>
                  </div>
                </div>

              </tr>
              <tr>
                <td>Tue</td>
                <td>Name</td>
                <td>Name</td>
                <td>Name</td>
                <td>Name</td>
              </tr>
              <tr>
                <td>Wed</td>
                <td>Name</td>
                <td>Name</td>
                <td>Name</td>
                <td>Name</td>
              </tr>
              <tr>
                <td>Thu</td>
                <td>Name</td>
                <td>Name</td>
                <td>Name</td>
                <td>Name</td>
              </tr>
              <tr>
                <td>Friday</td>
                <td>Name</td>
                <td>Name</td>
                <td>Name</td>
                <td>Name</td>
              </tr>
              <tr>
                <td>Sat</td>
                <td>Name</td>
                <td>Name</td>
                <td>Name</td>
                <td>Name</td>
              </tr>
              <tr>
                <td>Sun</td>
                <td>Name</td>
                <td>Name</td>
                <td>Name</td>
                <td>Name</td>
              </tr>
            </table>
          </v-layout>
        </v-container>
      </v-card class="blue lighten-1">
    </v-flex>

    <v-flex xs12 sm5 md4 lg3>
      <v-card>
        <v-container>
          <v-layout row wrap>
            <v-flex xs12>
              <p id="add-chore" contenteditable="true" placeholder="+ Add a chore here.." @keyup.enter="newChore"></p>
            </v-flex>
          </v-layout>
          <v-layout row wrap>
            <v-flex xs12>
              <v-list dense>
                <v-list-tile>
                  <v-list-tile-action>
                    <v-icon>mdi-cursor-move</v-icon>
                  </v-list-tile-action>
                  <v-list-tile-content>
                    <v-list-tile-title>Hello</v-list-tile-title>
                  </v-list-tile-content>
                </v-list-tile>
              </v-list>
            </v-flex>
          </v-layout>          
        </v-container>
      </v-card>
    </v-flex>
  </v-layout>

</template>

<script>
export default {
  data () {
    return {
      chores: {
        choreName: ''
      },
      days: [1, 2, 3, 4, 5, 6, 7],
      familyMembers: {
        name: '',
        profilePicture: ''
      }
    }
  },
  methods: {
    newChore () {
    }
  }
}
</script>
<style lang="stylus" scoped>
  @import '~@/assets/stylus/main'

  [contenteditable=true]
    border: solid 1px $teal.darken-2
    font-size: 16px
    padding: 10px
    color: $grey.darken-1

  [contenteditable=true]:empty:before
    content: attr(placeholder)
    color: $grey.lighten-2
    
  [contenteditable=true]:focus
    border: 1px solid $teal.lighten-3
    outline: none
    color: $grey.darken-3
    box-shadow:inset 0 1px 5px rgba(0,0,0,0.2)

  // .chore-plan-table
  //   box-shadow:inset 0 1px 5px rgba(0,0,0,0.2)
  //   overflow: auto
  //   overflow-y: hidden 
  //   overflow-x: scroll
  //   overflow-wrap: normal
  //   &::-webkit-scrollbar
  //     background-color: rgba(189, 189, 189, 0.5)
  //     border-radius: 10px
  //     height: 5px
  //     border-radius: 5px
  //   &::-webkit-scrollbar-thumb
  //     background-color: rgba(66, 66, 66, 0.5)
  //     border-radius: 5px
  //     opacity: 0.95
  //     &:active
  //       background-color: rgba(66, 66, 66, 0.9)

  table
    margin: 5px
    width: 100%
    height: auto
    border-collapse: collapse
    tr
      height: auto
      td:first-child
        min-width: auto
    th, td
      border: 1px solid
    td
      height: 50px
</style>
