<template>
  <div>  
    <navbar></navbar>
    <auth></auth>
    <router-view></router-view>
  </div>
</template>

<script>
import Navbar from './Shared/Navbar'
import auth from './Shared/AuthDialog'

export default {
  components: {
    navbar: Navbar,
    auth
  }
}
</script>
<style lang="stylus">

</style>
