<template>
  <div>
    <div id="CTA" />
  </div>
</template>

<style lang="stylus" scoped>
  #CTA
    width: 100%
    height: 700px
    background-image: url('./../../../assets/bg-polygon.svg')
    background-repeat: no-repeat
    background-size: cover
    margin-top: -100px
</style>
