<template>

  <v-toolbar fixed>
    <div v-if="drawer === false">
      <v-toolbar-side-icon @click="drawerToggle" />
    </div>
    <v-toolbar-title>FineHouse</v-toolbar-title>
    <v-spacer></v-spacer>

    <!-- User Menu  -->
    <v-menu offset-y left :nudge-top="-12">
      <v-btn icon slot="activator">
        <v-icon v-badge="{ value: '!', left: false, bottom: false, overlap: true}" class="red--after" >mdi-email</v-icon>
      </v-btn>
      <v-list>
        <v-list-tile>
          <v-list-tile-title>User Preference</v-list-tile-title>
        </v-list-tile>
        <v-list-tile>
          <v-list-tile-title>Account Setting</v-list-tile-title>
        </v-list-tile>
        <v-list-tile>
          <v-list-tile-title>Logout</v-list-tile-title>
        </v-list-tile>
      </v-list>
    </v-menu>

    <v-menu offset-y left :nudge-top="-12">
      <v-btn icon slot="activator">
        <v-icon v-badge="{ value: '!', left: false, bottom: false, overlap: true}" class="red--after" >mdi-message</v-icon>
      </v-btn>
      <v-list>
        <v-list-tile>
          <v-list-tile-title>User Preference</v-list-tile-title>
        </v-list-tile>
        <v-list-tile>
          <v-list-tile-title>Account Setting</v-list-tile-title>
        </v-list-tile>
        <v-list-tile>
          <v-list-tile-title>Logout</v-list-tile-title>
        </v-list-tile>
      </v-list>
    </v-menu>

    <v-menu offset-y left :nudge-top="-12">
      <v-btn icon slot="activator">
        <v-icon>mdi-dots-vertical</v-icon>
      </v-btn>
      <v-list>
        <v-list-tile>
          <v-list-tile-title>User Preference</v-list-tile-title>
        </v-list-tile>
        <v-list-tile>
          <v-list-tile-title>Account Setting</v-list-tile-title>
        </v-list-tile>
        <v-list-tile>
          <v-list-tile-title>Logout</v-list-tile-title>
        </v-list-tile>
      </v-list>
    </v-menu>
  </v-toolbar>

</template>

<script>
import { mapGetters } from 'vuex'

export default {
  data () {
    return {
    }
  },
  methods: {
    drawerToggle () {
      this.$store.commit('drawer')
    }
  },
  computed: mapGetters([
    'drawer'
  ])
}
</script>

<style lang="stylus" scoped>
  .application--light
    .toolbar
      background-color: #fff
      box-shadow: 0 0px 5px -1px

  .badge:after
    font-style: normal
    font-size: 12px
    width: 17px
    height: 17px
</style>
