<template>

  <v-navigation-drawer absolute persistent v-model="drawer" enable-resize-watcher>

    <v-toolbar flat class="transparent">
      <v-list class="pa-0">
        <v-list-tile avatar tag="div">
          <v-list-tile-avatar>
            <img src="https://randomuser.me/api/portraits/men/85.jpg" />
          </v-list-tile-avatar>
          <v-list-tile-content>
            <v-list-tile-title>John Leider</v-list-tile-title>
          </v-list-tile-content>
          <v-list-tile-action>
            <v-btn icon @click="drawerToggle">
              <v-icon>mdi-chevron-left</v-icon>
            </v-btn>
          </v-list-tile-action>
        </v-list-tile>
      </v-list>
    </v-toolbar>
    <v-divider />

    <!-- Sidebar List -->
    <v-list dense>
      <template v-for="(item, i) in items">

        <v-layout row v-if="item.heading" align-center :key="i">

          <v-flex xs6>
            <v-subheader v-if="item.heading">
              {{ item.heading }}
            </v-subheader>
          </v-flex>
        </v-layout>

        <v-divider dark v-else-if="item.divider" class="my-2" :key="i" />

        <v-list-tile :key="i" v-else :to="{ name: item.link }">
          <v-list-tile-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>
              {{ item.text }}
            </v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </template>
    </v-list>


    <!-- Sidebar Bottom Nav -->
      <v-bottom-nav absolute value="true" class="teal darker-1" :style="{display: hideOnSmallScreen()}">
      <v-btn>
        <span>Perference</span>
        <v-icon>mdi-auto-fix</v-icon>
      </v-btn>
      <v-btn>
        <span>Setting</span>
        <v-icon>mdi-settings</v-icon>
      </v-btn>
      <v-btn>
        <span>Logout</span>
        <v-icon>mdi-logout</v-icon>
      </v-btn>
      </v-bottom-nav>
  </v-navigation-drawer>

</template>

<script>
import { mapGetters } from 'vuex'

export default {
  data () {
    return {
      items: [
        { icon: 'mdi-home', text: 'Home', link: 'App' },
        { divider: true },
        { heading: 'Organizer', link: null },
        { icon: 'mdi-broom', text: 'Chores', link: 'Chore' },
        { icon: 'mdi-shopping', text: 'Shopping List', link: 'ShoppingList' },
        { icon: 'mdi-bell-ring', text: 'Reminder', link: 'Reminder' },
        { icon: 'mdi-cards', text: 'Bills Tracker', link: 'BillsTracker' },
        { divider: true },
        { heading: 'Planners', link: null },
        { icon: 'mdi-food-fork-drink', text: 'Meal Plan', link: null },
        { icon: 'mdi-beach', text: 'Holiday Plan', link: null },
        { icon: 'mdi-dumbbell', text: 'Health & Fitness Plan', link: null },
        { icon: 'mdi-bank', text: 'Budget Plan', link: null }
      ]
    }
  },
  computed: mapGetters([
    'clientHeight',
    'drawer'
  ]),
  methods: {
    drawerToggle () {
      this.$store.commit('drawer')
    },
    hideOnSmallScreen () {
      if (this.clientHeight < 700) {
        return 'none'
      }
    }
  }
}
</script>

<style lang="stylus" scoped>
  .bottom-nav
    .btn
      opacity: 1
      color: #fff
      &:hover
        color: #000
      .btn__content
        transition: none
</style>
