<template>
  <v-app>
    <div class="hide-alert" :class="{'alert alert-fail': alertFail}" @click="dismissFailMessage">
      <v-container fluid>
        <v-layout row wrap justify-center align-center align-content-center>
          <v-flex xs11>
            <v-flex xs12>
              <v-icon dark>mdi-alert-circle-outline</v-icon>
            </v-flex>
            <v-flex xs12>
              <p>{{ alertFailMessage }}</p>
            </v-flex>
          </v-flex>
          <v-flex xs1>
                <v-btn flat icon @click="dismissFailMessage" dark><v-icon>mdi-close</v-icon></v-btn>
          </v-flex>
        </v-layout>
      </v-container>
    </div>

    <div class="hide-alert" :class="{'alert alert-success': alertSuccess}" @click="dismissSuccessMessage">
      <v-container fluid>
        <v-layout row wrap justify-center align-center align-content-center>
          <v-flex xs11>
            <v-flex xs12>
              <v-icon dark>mdi-check-circle-outline</v-icon>
            </v-flex>
            <v-flex xs12>
              <p>{{ alertSuccessMessage }}</p>
            </v-flex>
          </v-flex>
          <v-flex xs1>
                <v-btn flat icon @click="dismissSuccessMessage" dark><v-icon>mdi-close</v-icon></v-btn>
          </v-flex>
        </v-layout>
      </v-container>
    </div>
    <router-view></router-view>
  </v-app>
</template>

<script>
import { mapGetters, mapMutations } from 'vuex'

export default {
  data () {
    return {
    }
  },
  methods: {
    handleResize () {
      this.$store.commit('clientWidth')
      this.$store.commit('clientHeight')
    },
    ...mapMutations([
      'dismissFailMessage',
      'dismissSuccessMessage'
    ])
  },
  computed: {
    ...mapGetters([
      'alertFail',
      'alertSuccess',
      'alertSuccessMessage',
      'alertFailMessage'
    ])
  },
  created () {
    window.addEventListener('resize', this.handleResize)
  },
  beforeDestroy () {
    window.removeEventListener('resize', this.handleResize)
  }
}
</script>

<style lang="stylus">
  @import '~@/assets/stylus/main'
  
  .hide-alert
    display: none

  .alert
    border: none
    padding: 0
    position: fixed
    z-index: 2000
    left: 0
    right: 0
    margin: 0
    text-align: center
    opacity: 0.95
    min-height: 64px
    width: 100%
    display: block !important
  
  .alert-fail
    background-color: $red.darken-1
  
  .alert-success
    background-color: $green.base

</style>
