<template>
  <v-layout row justify-center>
    <v-dialog v-model="authDialog" persistent fullscreen :hide-overlay=true	transition="dialog-bottom-transition">
      <v-card>
        <v-card-actions class="text-xs-center cyan darken-3" id="header">
          <v-spacer></v-spacer>
          <v-btn flat icon @click="close"><v-icon id="close-button">mdi-close</v-icon></v-btn>
        </v-card-actions>

        <div :class="{ 'form-container': addFormContainer }">
          <v-tabs grow>
            <v-tabs-bar slot="activators" class="cyan darken-1">
              <v-tabs-item v-for="item in items" :key="item" :href="'#tab-' + item">
                {{ item }}
              </v-tabs-item>
            </v-tabs-bar>

            <v-tabs-content v-for="item in items" :key="item" :id="'tab-' + item">
              <div v-if="item === 'Register'">
                <register></register>
              </div>
              <div v-if="item === 'Login'">
                <login></login>
              </div>
            </v-tabs-content>
          </v-tabs>
        </div>

      </v-card>
    </v-dialog>
  </v-layout>  
</template>

<script>
import { mapGetters, mapMutations } from 'vuex'
import register from '@/components/User/Partials/RegistrationForm'
import login from '@/components/User/Partials/AuthenticationForm'

export default {
  data () {
    return {
      items: ['Register', 'Login'],
      formContainer: true
    }
  },
  components: {
    register,
    login
  },
  methods: {
    ...mapMutations({
      close: 'authDialog'
    })
  },
  computed: {
    ...mapGetters([
      'authDialog',
      'clientWidth'
    ]),
    addFormContainer () {
      if (this.clientWidth < 500) {
        this.formContainer = false
      } else {
        this.formContainer = true
      }
      return this.formContainer
    }
  }
}
</script>

<style lang="stylus">

  #header
    color: #fff
    font-weight: bold
    font-size: 1.5rem
    padding: 10px

  #subheader
    color: #fff
    padding: 10px
    margin-top: 10px
  
  #action-button
    padding: 0
    text-align: center

  #submit-button
    color: #fff
    border-radius: 5px

  #forgot-password
    text-align: center
    padding: 0

  .card
    overflow: auto

  .card__text
    padding: 30px
    padding-bottom: 40px

  .form-container
    width: 400px
    margin: 1% auto
    box-shadow: 0 2px 4px -1px rgba(0,0,0,0.2), 0 4px 5px rgba(0,0,0,0.14), 0 1px 10px rgba(0,0,0,0.12)

  .thrid-party-auth
    padding: 25px
    .btn
      color: #fff
      border-radius: 5px
      height: 45px
      .icon
        color: #fff
  
  .tabs__item
    border: none

  .application--light .tabs .tabs__item
    color: #fff

  .application--light .tabs .tabs__item.tabs__item--active
    color: #00acc1
    background: #fff

</style>
