<template>
  <div>
    <v-navigation-drawer temporary v-model="drawerRight" light right enable-resize-watcher overflow absolute class="hidden-md-and-up" @click.native.stop="drawerRight = !drawerRight">
      <v-list>
          <v-list-tile @click="authDialog">
            <v-list-tile-action>
              <v-icon>mdi-login</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>Register</v-list-tile-title> 
            </v-list-tile-content>
          </v-list-tile>
          <v-list-tile @click="authDialog">
            <v-list-tile-action>
              <v-icon>mdi-account-plus</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>Login</v-list-tile-title> 
            </v-list-tile-content>
          </v-list-tile>
      </v-list>
      
    </v-navigation-drawer>

      <v-toolbar>
        <v-container>
          <v-toolbar-title><router-link to="/"><img src="https://randomuser.me/api/portraits/men/85.jpg" /></router-link></v-toolbar-title> 
          <!-- <v-btn flat>FineHouse</v-btn> -->
          <v-spacer></v-spacer>
          <div class="nav-icon-group">
              <a href="#"><v-icon class="light-blue lighten-1">mdi-twitter</v-icon></a>
              <a href="#"><v-icon class="blue darken-3">mdi-facebook</v-icon></a>
          </div>
          <v-toolbar-side-icon class="hidden-md-and-up" @click.native.stop="drawerRight = !drawerRight"></v-toolbar-side-icon>
          <v-toolbar-items class="hidden-sm-and-down">
            <v-btn flat @click="authDialog">Register</v-btn>
            <v-btn flat @click="authDialog">Login</v-btn>
          </v-toolbar-items>
        </v-container>
      </v-toolbar>
  </div>
</template>

<script>
import { mapMutations } from 'vuex'

export default {
  methods: {
    ...mapMutations([
      'authDialog'
    ])
  },
  data () {
    return {
      drawerRight: false
    }
  }

}
</script>


<style lang="stylus" scoped>
  .container
    display: inherit
    height: inherit
    padding-top: 0
    padding-bottom: 0
  
  .toolbar__title
    img
      height: 100%
  
  .toolbar__content > *:not(.btn):not(.toolbar__title):first-child, .toolbar__extension > *:not(.btn):not(.toolbar__title):first-child
      margin-left: auto
  
  .toolbar__content > *:not(.btn):not(.toolbar__title):first-child, .toolbar__extension > *:not(.btn):not(.toolbar__title):first-child
    margin-right: auto

  .btn
    margin: 0

  .nav-icon-group
    height: inherit
    margin-right: 10px
    line-height: 100%
    vertical-align: middle
    a
      text-decoration: none
      i
        color: #fff
        height: 40px
        width: 40px
        border-radius: 50%
        margin: 12px 5px
        &:hover
          color: #ddd
    
  .toolbar__side-icon
    width: 40px
    height: 40px
    margin: 12px 5px
</style>
